.header{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100vw;
    background-color: rgba($color: #c7c6c6, $alpha: 0.4);
    backdrop-filter: blur(3px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    .nav{
      padding: 0 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #f7f7f7;
        .nav-item{
            text-align: center;
            font-size: 1.1rem;
            margin-left: 10px;
            color: #f7f7f7;
            cursor: pointer;
            padding: 0 24px;
            &:hover{
                color: rgba($color: #f7f7f7, $alpha: 0.6);
            }
            a{
              text-decoration: none;
              color: #f7f7f7;
            }
        }
        .nav-item:nth-child(1){
            margin-left: -12px;
        }
    }

}
