.movies {
  background-image: url(../../assets/images/marek-piwnicki-_kY6w94o-f0-unsplash.jpg);
  background-size: cover;
  height: 100dvh;
  width: 100dvw;

  .content {
    display: flex;
    gap: 32px;
    padding: 40% 32px 0;
  }

  .slider {
    height: 300px;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 16px;
  }

  .info {
    max-width: 20vw;
    bottom: 200px;
    height: 350px;
    color: white;
    margin-left: 100px;
  }
}
