<div class="picking-slot" [style]="'background-image: url(' + selectedMovie?.imageUrl + ');'">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto mb-2 mt-2">
        <div class="date-group btn-group btn-group-lg d-flex justify-content-between" role="group"
          aria-label="Large button group">
          <a (click)="selectDay(item)" *ngFor="let item of dateMock" [class.active]="item===selectedDay"
            class="btn btn-outline-secondary text-muted px-3 py-2 date-btn">
            {{item | date:'dd/MM'}} <br />
            <span class="small text-gray">{{item | date: 'EEE' | VietNamDatePipe}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-between">
      <div class="d-flex mx-auto col-8 mt-4">
        <div class="title fw-bold fs-5 text-gray">{{selectedMovie?.title}}</div>
      </div>
    </div>
    <div class="row d-flex justify-content-between">
      <div *ngIf="displayShowTime">
        <div *ngFor="let time of displayShowTime" class="movie-card d-flex flex-col mx-auto col-8 mt-2">
          <div class="">
            <div class="mb-2 fs-5 fw-bold text-gray">{{time.department.name}}</div>
            <div class="d-flex flex-row">
              <div class="info ms-4">
                <div class="type mt-1 fw-bold text-gray">2D Lồng tiếng</div>
                <div class="showtimes mt-2 d-flex flex-row">
                    <a [class.overtime]="isOverTime(showtime.from)"*ngFor="let showtime of time.showtimes"
                      class="btn btn-sm btn-showtime btn-outline-dark me-1 p-2"
                      (click)="chooseTime(showtime)">
                      {{showtime.from}}
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="displayShowTime?.length===0" class="movie-card col-8 mt-2 mx-auto">
        <span class="mx-auto mt-1 fw-bold text-gray">Hiện tại chưa có lịch chiếu cho ngày này</span>
      </div>
    </div>
  </div>
</div>
