<div class="bill-viewer">
  <app-header></app-header>
  <div class="container">
    <div class="cardWrap">
      <div class="card cardLeft">
          <div class="title" title="Người nhện: Du hành vũ trụ nhện">
            Lật mặt 6: Tấm vé định mệnh
          </div>
          <div class="ticket-info mt-auto d-flex flex-column justify-content-around align-items-start">
            <div class="p-1">
              Thời gian: 01/08/2021
            </div>
            <div class="p-1">
              Rạp: Phòng 1
            </div>
            <div class="p-1">
              Thời gian: 128 phút
            </div>
            <div class="p-1">
              Ghế: E1, D2, F4
            </div>
            <div class="p-1">
              Thành tiền: 210.000đ
            </div>
          </div>
      </div>

      <div class="card cardRight d-flex justify-content-center">
        <div class="barcode mt-auto"></div>
      </div>

    </div>
  </div>
</div>
