.wrapper {
  display: flex;
  width: 100vw;

  .seats-wrapper {
    margin: 32px auto;
    max-width: 50vw;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(6, 100px);

    .booked {
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .seats-info {
    margin: 32px auto;
    max-width: 50vw;
    width: 100%;

    .booking-button {
      background-color: transparent;
      border-color: #f44336;
      color: #f44336;
      padding: 12px 48px;
      border-radius: 32px;
      font-size: 1.2rem;
    }

  }
}


